<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Management App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet"> Google Fonts -->
</head>
<body>
    <header class="header">
        <div class="container flex justify-between items-center">
            <nav>
                <ul class="navbar">
                    <li><a href="{%url 'home' %}">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="{% url 'pdf_upload' %}">Upload a Menu</a></li>
                    <li><a href="{% url 'view_uploads' %}">View Menus</a></li>
                </ul>                
            </nav>
        </div>
    </header>

    <main class="container">
        <div class="title">
            <h1>Welcome to our Menu Management App</h1>
            <p>By: Boris Gans, Kareem Hawwash, Fares Qaddoumi and Gaby Vega</p>
        </div>

        <section class="grid-layout">
            <a href="{% url 'pdf_upload' %}">
                <div class="grid-item">
                    <!-- <img src="icon1.svg" alt="Icon 1"> Replace with your icon -->
                    <h3>Upload a Menu!</h3>
                    <p>Start your Menu Management journey by uploading a menu!</p>
                </div>
            </a>
            <a href="{% url 'view_uploads' %}">
                <div class="grid-item">
                    <!-- <img src="icon2.svg" alt="Icon 2"> Replace with your icon -->
                    <h3>View Menus</h3>
                    <p>Powered by MySQL and simplified using Django's ORM, quickly filter and search your entries based on numerous parameters.</p>
                </div>
            </a>
            <!-- <a href=""> -->
                <!-- <div class="grid-item"> -->
                    <!-- <img src="icon3.svg" alt="Icon 3"> Replace with your icon -->
                    <!-- <h3>Edit Menus</h3> -->
                    <!-- <p>Edit entire or individual components of a menu and access menu history</p> -->
                <!-- </div> -->
            <!-- </a> -->
        </section>
    </main>

    <!-- Change to django + other overarching frameworks used; link to download / documentation -->
    <footer class="footer">
        <div class="container">
            <nav>
                <ul class="git">
                    <li><a href="https://github.com/studentBorisGans/menuDatabase.git">GitHub</a></li>
                    <li><a href="https://github.com/studentBorisGans/menuDatabase.git">Documentation</a></li>
                </ul>
            </nav>
        </div>
    </footer>

    <!-- <script src="script.js"></script> Link to your JavaScript file -->
</body>
</html>